<div id="modalclientenew" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg"  style="overflow-y:scroll; max-height:80%; ">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <button type="button" class="close" data-dismiss="modal">X</button>
        <h4 class="modal-title">Nuevo Cliente</h4>
        <div class="alert alert-info" style="display:none">
            <strong>Exito!</strong> Se ha registrado nuevo cliente.
        </div>
      </div>
      <div class="modal-body">
          <div class="row">
              <div class="col-lg-12 col-md-12 col-xs-12">
			   {{ form_start(formCliente, {'attr': {'id': 'formCliente'}}) }}
			        {{ form_widget(formCliente) }}
			        <input type="submit" value="Crear" class="btn btn-primary" />
			    {{ form_end(formCliente) }}
              	</div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
